<nav class='navbar navbar-inverse' role='navigation'>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'cams.index' class='navbar-brand'}}Laredo Bridges{{/link-to}}
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">-->
      <!--</ul>-->

      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'cams.index' }}Home{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bridges <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each}}
              <li>{{#link-to 'cams.cam' this class='list-group-item'}}{{title}}{{/link-to}}</li>
            {{/each}}
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  <!--<div class='container'>-->
    <!--<ul class='nav navbar-nav navbar-right'>-->
    <!--</ul>-->
  <!--</div>-->
</nav>

<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <h1 class='text-center'>Bridge Cams</h1>
      <ul class='list-group list-unstyled'>
        {{#each}}
          <li>{{#link-to 'cams.cam' this class='list-group-item'}}{{title}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-8">
      {{outlet}}
    </div>
  </div>
</div>

<footer class='container'>
  <hr />
  <p class='pull-right'>&copy; 2013 </p>
</footer>
